@font-face {
  font-family: "iconfont";
  src: url("~@/static/font/iconfont.ttf");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qushi:before {
  content: "\e608";
}

.icon-weixinzhifu:before {
  content: "\e653";
}

.icon-huoxingbushoulogo:before {
  content: "\e875";
}

.icon-tianjia-xue:before {
  content: "\e636";
}

.icon-jianshao:before {
  content: "\e609";
}

.icon-chenggong:before {
  content: "\e632";
}

.icon-jiarugouwuche:before {
  content: "\e616";
}

.icon-gouwuche:before {
  content: "\e61b";
}

.icon-shangcheng:before {
  content: "\e72b";
}

.icon-chakanmeal:before {
  content: "\e6099";
}

.icon-taocan:before {
  content: "\e72e";
}

.icon-jiaju-fanzhuo:before {
  content: "\e611";
}

.icon-youhuiquanyouhuiquandaijinquan:before {
  content: "\e625";
}

.icon-sanjiaoxing:before {
  content: "\e6bd";
}

.icon-paixujiantoushang:before {
  content: "\e74c";
}

.icon-paixujiantouxia:before {
  content: "\e74d";
}

.icon-paixu:before {
  content: "\e634";
}

.icon-dashang:before {
  content: "\e647";
}

.icon-yuyin:before {
  content: "\e64e";
}

.icon-fanhui:before {
  content: "\e618";
}

.icon-tui:before {
  content: "\e65f";
}

.icon-iconfontzhizuobiaozhun34:before {
  content: "\e621";
}

.icon-jiantou:before {
  content: "\e60c";
}

.icon-sousuo:before {
  content: "\e62f";
}

